body{
    background-color:#83bfd4;
    color:#f08080;
    font-family:"Century Gothic", 
     monospace;
}

h1{
    text-align: center;
}
col{color:#00ffff}

#map {
    height: 400px;
    width: 100%;
} 


footer {
  display: max-width 400px;
}

.center {
    margin: auto;
    width: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

#p1 {
    background: lightcoral;
    border: 1px solid pink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px white;
}