body{
    background-color:lightblue;
    color:lightcoral;
    font-family:"Century Gothic", 
     monospace;
}

h1{
    text-align: center;
}
col{color:aqua}

#map {
    height: 400px;
    width: 100%;
} 


footer {
  display: max-width 400px;
}
