body{
    background-color:lightblue;
    color:lightcoral;
    font-family:"Century Gothic", 
     monospace;
}

h1{
    text-align: center;
}
col{color:aqua}

#map {
    height: 400px;
    width: 100%;
} 


footer {
  display: max-width 400px;
}

h2{
    text-align: center;
}
col{color:rgb(0, 21, 255)}

img {
    max-width: 350px;
  }

  
#banana:hover{
    width: 30vw
}